header{
    // display: flex;
    // align-items: center;
    // width: 100%;
    // height: auto;
    // margin: 0 auto;
    
    nav{
        display: flex;
        background-color: rgba(13, 13, 24, 0.89);
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 100px;
        
        .flati{
            display: flex;
            color:white;
            // align-items: center;
            flex:1;
            margin-left: 40px;
            padding: 40px;
            text-transform: uppercase;
            font-family: "ubuntu-malo";
        }
        .box-liste{
            display: flex;
            margin-left: 100px;
            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;
                flex:2;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 auto;
                    :hover{
                        background-color: blue;
                        color: white;
                    }
                    a{
                        display: flex;
                        justify-content: space-between;
                        color: grey;
                        text-decoration: none;
                        padding: 20px;
                        text-transform: uppercase;
                        font-family: "ubuntu-malo";
                        span{
                            display: flex;
                            justify-content: space-between;
                            
                        }
                    }
                }
            }
        }
    }
    .image-header{
        width: 100%;
        img{
            max-width: 100%;
            // background: cover;
           

        }
        
    }
}
